@media (max-width: 1990px) {
    .advent {
        &__slide {
            overflow: hidden;
            margin-right: 10px;
            
            img {
                max-width: 100%;
            }            
        }
    }
}
@media (max-width: 1650px) {
    .header {
        &__list {
            display: none;

        }
        &__category {
            &_list {
                display: flex;
                order: 1;
                margin-left: 50px;
            }
        }
    }
    .slider {
        &__items {
            .slick-prev, .slick-next {
                top: 50%;
                transform: translateY(-50%);
                background: none;
            }
            .slick-prev {
                width: 30px;
                height: 40px;
                left: 25px;
            }
            .slick-next {
                width: 30px;
                height: 40px;
                left: auto;
                right: 25px;
            }
            .slick-next:active {
                
                background: none !important;
            }
            .slick-prev:active {
                
                background: none !important;
            }
        }
        .descr-slide {
            position: static;
            width: 100%;
            padding: 20px 0;
            height: 270px;
            &__title {
                font-size: 40px;
            }
            &__subtitle {
                margin-top: 20px;
                font-size: 25px;
            }
            &__text {
                font-size: 25px;
            }
            .button_slider {
                margin-top: 22px;
            }
        }
    }
    .slick-dots {
        opacity: 0;
    }
    
}
@media (max-width: 1500px) {
    .advent {
        &__descr {
            padding-left: 10px;
            a {
                font-size: 25px;
            }
            .advent_text {
                bottom: 50px;
            }
            span {
                width: 400px;
                margin-top: 0px;
                font-size: 14px;
            }
        }
    }
    .catalog {
        &__tabs {
            margin-bottom: 50px;
        }
        &__items {
            .catalog-item {
                width: 530px;
                height: auto;
                margin-bottom: 20px;
            }
        }
    }
}
@media (max-width: 1300px) {
    .promo {
        .header {
            &__social {
                display: none;
            }
        }
    }
    .catalog {
        &__items {
            .catalog-item {
                width: 500px;
                height: auto;
            }
        }
    }
    .about {
        &__wrap {
            margin-top: 0;
        }
        &__text {
            top: 120px;
            
        }
    }
}
@media (max-width: 1204px) {
    .about {
        &__text {
            overflow: auto;
            width: 80%;
            height: 380px;
        }
    }
}
@media (max-width: 1200px) {
    .catalog {
        &__items {
            .catalog-item {
                width: 450px;
                height: auto;
                margin-bottom: 25px;
                &__name, &__price {
                    font-size: 20px;
                }
            }
            
        }
    }
    .about {
        padding-top: 60px;
    }
    .questions {
        padding-bottom: 40px;
        padding-top: 40px;
        &__wrap {
            margin-top: 0;
            top: 0;
            
        }
        .feed-form {
            width: 60%;
            //position: static;
            margin: 0 auto;
        }
    }
    .advent {
        padding: 30px 30px 0 30px;
        &__title {
            font-size: 40px;
            &:before {
                height: 42px;
                width: 15px;
            }
        }
    }
    .catalog {
        padding-top: 60px;
        &__title {
            font-size: 40px;
            &:before {
                height: 42px;
                width: 15px;
            }
        }
        &__tabs {
            margin-top: 40px;
            margin-bottom: 20px;
        }
        &__tab {
            width: 100px;
            img {
                width: 100%;
            }
            a {
                font-size: 20px;
            }
        }
        .button_catalog {
            width: 170px;
            height: 40px;
            font-size: 15px;
        }
    }
    .about {
        padding-top: 50px;
        &__title {
            font-size: 40px;
            &:before {
                height: 42px;
                width: 15px;
            }
        }
        &__wrap {
            height: 550px;
        }
        &__text {
            top: 50%;
            transform: translateY(-50%);
        }
    }
    .questions {
        &__wrap {
            height: 450px;

        }
        .feed-form {
            top: 50%;
            transform: translateY(-50%);
            padding: 20px;
            width: 513px;
            height: 65%;
            &__title {
                font-size: 26px;
                margin-bottom: 15px;
            }
            &__info {
                margin-top: 15px;
                font-size: 15px;
            }
            input {
                width: 100%;
                margin-bottom: 10px;
                height: 40px;
                font-size: 16px;
            }
            .button_form {
                height: 40px;
            }
        }
    }
    .footer {
        &__wrapinfo {
            width: 100%;
        }
    }
}

@media (max-width: 1100px) {
    .header {
        &__button {
            display: none;
        }
        &__cart {
            margin-right: 0;
        }
        &__category {
            &_list {
                &:after {
                    top: 30px;
                }
            }
        }
    }
    
}
@media (max-width: 1052px) {
    .catalog {
        &__items {
            .catalog-item {
                width: 400px;
                height: auto;
            }
        }
    }
    .questions {
        padding-top: 40px;
    }
}

@media (max-width: 992px) {
    
    .promo {
        .header {
            &__social {
                margin-right: 0;
            }
            &__menu {
                display: none;
            }
            &__burger {
                display: block;
            }
            &__top {
                padding: 10px 30px;     
            }
            &__cart {
                display: none;
            }
            &__bottom {
                display: block;
            }
        }
    }
    .slider {
        .slick-prev {
            width: 20px;
            height: 30px;
        }
        .slick-next {
            width: 20px;
            height: 30px;
        }
    }
    .advent {
        padding: 50px 30px 0 30px;
        &__slider {
            margin-top: 30px;
        }
        &__title {
            
            font-size: 30px;
            &:before {
                height: 36px;
                width: 15px;
            }
        }
        padding: 30px 20px;
        &__descr {
            padding-left: 10px;
            a {
                bottom: 15px;
                font-size: 22px;
            }
            .advent_text {
                bottom: 50px;
            }
            span {
                top: 23px;
                width: 300px;
                margin-top: 0px;
                font-size: 12px;
            }
        }
    }
    .catalog {
        padding: 30px 30px 0 30px;
        &__tabs {
            margin-top: 45px;
            margin-bottom: 10px;
        }
        &__title {
            font-size: 30px;
            &:before {
                height: 36px;
                width: 15px;
            }
        }
        &__tab {
            width: 100px;
            margin-right: 20px;
            img {
                width: 100%;
            }
            a {
                font-size: 18px;
            }
        }
    }
    /* .about {
        padding-top: 30px;
        &__wrap {
            margin-top: 60px;
            //height: 100%;
        }
        &__title {
            font-size: 30px;
            &:before {
                height: 36px;
                width: 15px;
            }
        }
        &__text {
            width: 100%;
            height: 100%;
            font-size: 16px;
            position: static;
        }
    } */
    .about {
        padding-top: 30px;
        &__title {
            font-size: 30px;
            &:before {
                height: 36px;
                width: 15px;
            }
        }
        &__wrap {
            height: 450px;
        }
        &__text {
            height: 300px;
        }
    }
    /* .questions {
        padding-bottom: 0;
        padding-top: 0;
        &__wrap {
            height: 400px;
            background: none;
        }
        &__title {
            font-size: 30px;
            &:before {
                height: 36px;
                width: 15px;
            }
        }
        &__form {
            .feed-form {
                padding: 20px 51px 46px 30px;
                height: 100%;
            }
        }
    } */
    .questions {
        &__wrap {
            height: 400px;

        }
        .feed-form {
            width: 513px;
            height: 70%;
            &__title {
                font-size: 22px;
            }
        }
    }
    
    .footer {
        &__wrapinfo {
            position: relative;
            display: block;
            height: 100%;
        }
        &__copyright {
            position: absolute;
            right: 30px;
            bottom: 15px;
        }
        &__geoloc {
            margin-top: 20px;
        }
        &__list {
            margin-top: 20px;
        }
    }
}

@media (max-width: 952px) {
    .catalog {
        &__items {
            .catalog-item {
                width: 350px;
                height: auto;
                &__name, &__price {
                    font-size: 17px;
                }
            }
        }
    }
}
@media (max-width: 842px) {
    .catalog {
        &__items {
            .catalog-item {
                width: 586px;
                height: auto;
                margin-right: 0;
                &__name, &__price {
                    font-size: 24px;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .header {
        &__top {
            padding: 10px 30px;     
        }
        &__logo {
            img {
                max-width: 80%;
                height: auto;
                min-width: 50%;
            }
        }
        &__category {
            &_list {
                &:after {
                    top: 24px;
                }
            }
        }
    }
    .slider {
        .descr-slide {
            height: 215px;
            &__title {
                font-size: 30px;
            }
            &__subtitle {
                margin-top: 10px;
                font-size: 20px;
            }
            &__text {
                font-size: 20px;
            }
            .button_slider {
                width: 170px;
                height: 40px;
                font-size: 15px;
            }
        }
        .advent {
            &__title {
                font-size: 12px;
            }
        }
    }
    .catalog {
        &__tab {
            width: 60px;
            a {
                font-size: 14px;
            }
        }
        .catalog-item {
            &__name, &__price {
                font-size: 20px;
            }
        } 
    }
    .about {
        padding-top: 20px;
        &__wrap {
            height: 600px;
        }
        &__text {
            width: 100%;
            height: 600px;
        }
    }
   
    .questions {
        padding-top: 0;
        &__title {
            font-size: 30px;
            &:before {
                height: 36px;
                width: 15px;
            }
        }
        &__wrap {
            height: 359px;
        }
        .feed-form {
            width: 100%;
            height: 70%;
            &__title {
                font-size: 22px;
            }
        }
    }
    
    .footer {
        background: none;
        &__wrapinfo {
            position: relative;
            display: block;
            height: 100%;
        }   
    }
    .pageup {
        bottom: 15px;
        left: 15px;
    }
}
@media (max-width: 633px) {
    .header {
        &__bottom {
            height: 120px;
        }
        &__wrapperb {
            flex-direction: column;
            align-items: center;
        }
        &__logo {
            margin-bottom: 15px;
        }
        &__category {
            &_list {
                &:after {
                    top: 5px;
                }
            }
        }  
    }
    .advent {
        &__descr {
            span {
                width: 220px;
                margin-top: 0px;
                font-size: 12px;
            }
        }

    }
    .footer {
        &__copyright {
            
            width: 280px;
            bottom: 55px;
            left: 28px;
        }
    }
}
@media (max-width: 576px) {
   .header {
       &__top {
           padding: 10px 20px;     
       }
   }
   .advent {
    padding: 15px;
    &__title {
        font-size: 25px;
        &:before {
            height: 27px;
            width: 10px;
        }
    }
}
.about {
    &__title {
        font-size: 25px;
        &:before {
            height: 27px;
            width: 10px;
        }
    }
    &__text {
        font-size: 15px;
        height: 100%;
        padding: 10px;
    }
}
   .questions {
       &__wrap {
           height: 300px;
       }
    &__title {
        font-size: 25px;
        margin-top: 25px;
        margin-bottom: 25px;
        &:before {
            height: 27px;
            width: 10px;
        }
    }
    &__form {
        .feed-form {
            height: 100%;
        }
    }
}
.catalog {
    padding: 15px;
    &__title {
        font-size: 25px;
        &:before {
            height: 27px;
            width: 10px;
        }
    }
    &__tabs {
        margin-top: 20px;
        margin-bottom: 0;
    }
    &__tab {
        width: 50px;
    }
    &__items {
        .catalog-item {
            margin-bottom: 10px;
            &__wrap {
                padding: 5px;
            }
            &__name, &__price {
                font-size: 14px;
            }
            .label {
                top: 10px;
                padding: 5px 10px;
                font-size: 13px;
            }
            .label_red {
                top: 43px;
                padding: 5px 10px;
                font-size: 13px;
            }
        }
    }
    .button_catalog {
        margin-top: 10px;
        height: 30px;
        font-size: 13px;
    }
}
   .footer {
    &__logo {
        img {
            width: 80%;
        }
    }
    &__link {
        font-size: 15px;
    }
    &__list {
        grid-template-columns: 100px 200px;
        li {
            margin-bottom: 15px;
        }
    }
    &__wrapinfo {
            padding-left: 20px;
        }
        &__copyright {
                left: -5px;
            }
        &__glynec {
          font-size: 13px;
        }
    }
}
@media (max-width: 400px) {
  .footer {
        &__logo {
            img {
                width: 80%;
            }
        }
        &__link {
            font-size: 15px;
        }
        &__list {
            grid-template-columns: 100px 200px;
            li {
                margin-bottom: 15px;
            }
        }
        &__wrapinfo {
            padding-left: 20px;
        }
        &__copyright {
            left: -5px;
        }
        &__glynec {
            font-size: 13px;
        }
    }
}


 