@media (max-width: 1990px) {
    .advent {
        &__slide {
            overflow: hidden;
            margin-right: 10px;
            
            img {
                max-width: 100%;
            }            
        }
    }
}
@media (max-width: 1650px) {
    .header {
        &__list {
            display: none;

        }
        &__category {
            &_list {
                display: flex;
                order: 1;
                margin-left: 50px;
            }
        }
    }
    .slider {
        &__items {
            .slick-prev, .slick-next {
                top: 50%;
                transform: translateY(-50%);
                background: none;
            }
            .slick-prev {
                width: 30px;
                height: 40px;
                left: 25px;
            }
            .slick-next {
                width: 30px;
                height: 40px;
                left: auto;
                right: 25px;
            }
            .slick-next:active {
                
                background: none !important;
            }
            .slick-prev:active {
                
                background: none !important;
            }
        }
        .descr-slide {
            position: static;
            width: 100%;
            padding: 20px 0;
            height: 270px;
            &__title {
                font-size: 40px;
            }
            &__subtitle {
                margin-top: 20px;
                font-size: 25px;
            }
            &__text {
                font-size: 25px;
            }
            .button_slider {
                margin-top: 22px;
            }
        }
    }
    .slick-dots {
        opacity: 0;
    }
    
}
@media (max-width: 1500px) {
    .advent {
        &__descr {
            padding-left: 10px;
            a {
                font-size: 25px;
            }
            .advent_text {
                bottom: 50px;
            }
            span {
                width: 400px;
                margin-top: 0px;
                font-size: 14px;
            }
        }
    }
    .catalog {
        &__tabs {
            margin-bottom: 50px;
        }
        &__items {
            .catalog-item {
                width: 530px;
                height: auto;
                margin-bottom: 20px;
            }
        }
    }
}
@media (max-width: 1300px) {
    .promo {
        .header {
            &__social {
                display: none;
            }
        }
    }
    .catalog {
        &__items {
            .catalog-item {
                width: 500px;
                height: auto;
            }
        }
    }
}

@media (max-width: 1200px) {
    .catalog {
        &__items {
            .catalog-item {
                width: 450px;
                height: auto;
                margin-bottom: 25px;
                &__name, &__price {
                    font-size: 20px;
                }
            }
            
        }
        
    }
}

@media (max-width: 1100px) {
    .header {
        &__button {
            display: none;
        }
        &__cart {
            margin-right: 0;
        }
        &__category {
            &_list {
                &:after {
                    top: 30px;
                }
            }
        }
    }
}
@media (max-width: 1052px) {
    .catalog {
        &__items {
            .catalog-item {
                width: 400px;
                height: auto;
            }
        }
    }
}

@media (max-width: 992px) {
    
    .promo {
        .header {
            &__social {
                margin-right: 0;
            }
            &__menu {
                display: none;
            }
            &__burger {
                display: block;
            }
            &__top {
                padding: 10px 30px;     
            }
            &__cart {
                display: none;
            }
            &__bottom {
                display: block;
            }
        }
    }
    .slider {
        .slick-prev {
            width: 20px;
            height: 30px;
        }
        .slick-next {
            width: 20px;
            height: 30px;
        }
    }
    .advent {
        &__slider {
            margin-top: 30px;
        }
        &__title {
            font-size: 36px;
            &:before {
                height: 40px;
                width: 15px;
            }
        }
        padding: 30px 20px;
        &__descr {
            padding-left: 10px;
            a {
                bottom: 15px;
                font-size: 22px;
            }
            .advent_text {
                bottom: 50px;
            }
            span {
                top: 23px;
                width: 300px;
                margin-top: 0px;
                font-size: 12px;
            }
        }
    }
    
}

@media (max-width: 952px) {
    .catalog {
        &__items {
            .catalog-item {
                width: 350px;
                height: auto;
                &__name, &__price {
                    font-size: 17px;
                }
            }
        }
    }
}
@media (max-width: 842px) {
    .catalog {
        &__items {
            .catalog-item {
                width: 586px;
                height: auto;
                margin-right: 0;
                &__name, &__price {
                    font-size: 24px;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .header {
        &__top {
            padding: 10px 30px;     
        }
        &__logo {
            img {
                max-width: 80%;
                height: auto;
                min-width: 50%;
            }
        }
        &__category {
            &_list {
                &:after {
                    top: 24px;
                }
            }
        }
    }
}
@media (max-width: 633px) {
    .header {
        &__bottom {
            height: 120px;
        }
        &__wrapperb {
            flex-direction: column;
            align-items: center;
        }
        &__logo {
            margin-bottom: 15px;
        }
        &__category {
            &_list {
                &:after {
                    top: 5px;
                }
            }
        }  
    }
    .advent {
        &__descr {
            span {
                width: 220px;
                margin-top: 0px;
                font-size: 12px;
            }
        }

    }
}
@media (max-width: 576px) {
   .header {
       &__top {
           padding: 10px 20px;     
       }
   }
   .catalog {
       padding: 30px 30px 0 30px;
       &__tabs {
           margin-top: 50px;
        }
        &__items {
            .catalog-item {
                width: 100%;
                height: auto;
                &__name, &__price {
                    font-size: 20px;
                }
            }
        }
    }
}

@media (max-width: 400px) {
    .catalog {
        &__items {
             .catalog-item {
                 &__name, &__price {
                     font-size: 16px;
                }
            }
        }  
    }
}
 